:local(.scoped) { 
  .community-groups-container {
    border-bottom: 1px solid var(--card_bg_color_02);
    @apply w-full;
        
    .community-groups-menu {
      width: 1200px;
      @apply h-40 m-auto relative;

      .menu-icon {
        border-radius: 50%;
        box-shadow: 0 4px 10px var(--card_bg_color_02);
        cursor: pointer;
        @apply top-1/2 h-12 w-12 flex items-center justify-center absolute bg-card_bg_color_01;

        .cursor-pointer {
          @apply mt-1;
        }
      }

      .groups-menu-left {
        transform: translateY(-50%) rotate(180deg);
        @apply -left-16;
      }

      .groups-menu-right {
        transform: translateY(-50%);
        @apply -right-16;
      }

      .groups-flex-container {
        @apply h-full overflow-hidden;

        .groups-flex-menu {
          transform: translateX(0);
          @apply h-full flex items-center;
    
          .flex-menu-container {
            min-width: 14.3%;
            max-width: 14.3%;
            cursor: pointer;
            @apply h-full py-11 box-border flex items-center justify-center flex-col relative;

            .menu-container-icon {
              @apply w-9 h-9 overflow-hidden;

              svg {
                @apply w-9 h-9;
              }
            }

            .menu-container-text {
              @apply w-full text-center text-sm mt-3 font-medium text-text_color_02 truncate overflow-hidden;
            }

            .container-text-selected {
              @apply text-text_color_01;
            }

            .menu-container-footer {
              transform: translateX(-50%);
              @apply absolute w-7 h-0.5 bg-brand_color bottom-0 left-1/2;
            }
          }
        }
      }
    }
  }
}