:local(.scoped) {
  @apply flex-1 h-full flex flex-col;

  .bind-account-wrap {
    @apply h-full flex flex-col;

    .header {
      height: 40px;
      @apply flex flex-col justify-center items-center py-10 bg-card_bg_color_01;

      .header-wrap {
        width: 1200px;
        @apply flex;

        .user-account-security-info {
          @apply flex-1;

          .title {
            @apply flex items-center;
  
            h1 {
              font-size: 32px;
              @apply text-text_color_01 leading-10 font-normal;
            }
          }
    
          .status {
            .tips {
              @apply mb-4;
  
              label {
                @apply text-base text-text_color_03;
              }
            }
            
            .list {
              @apply flex;
  
              .item {
                @apply mr-4;
  
                .item-wrap {
                  @apply flex;
    
                  .text {
                    @apply mr-2;
    
                    label {
                      @apply text-sm text-text_color_01;
                    }
                  }
                }
              }
            }
          }
        }

        .safety-record {
          @apply flex items-end;

          a {
            font-size: 16px;
          }

          a {
            line-height: 21px;
            @apply text-brand_color;

            & > div {
              @apply -mt-1;
            }
          }
        }
      }
    }
  }

  .bind-account-body {
    @apply bg-bg_color pt-8 flex-1;

    .main {
      width: 1200px;
      @apply m-auto h-full;

      .personal-center-back {
        margin-bottom: 69px;
        @apply flex items-center;
  
        svg {
          width: 14px;
          height: 14px;
          @apply mr-1;
        }
    
        label {
          @apply text-text_color_02 text-base leading-4 font-medium cursor-pointer;
        }

        .back-divider {
          height: 10px;
          @apply w-px mx-2 bg-line_color_02;
        }

        .back-text {
          @apply text-base font-medium text-text_color_01;
        }
      }

      .bind-account-content {
        width: 739px;
        @apply m-auto;

        .bind-account-content-header {
          width: 527px;
          @apply text-xl font-medium block;
        }

        .bind-account-content-card {
          @apply mt-2;

          .item {
            border-bottom: 1px solid var(--line_color_02);
            @apply py-6 flex items-center justify-between;

            .item-left {
              @apply flex-1 flex items-start;

              .item-left-icon {
                margin-top: 3px;
                @apply w-5 h-5;

                svg {
                  @apply w-full h-full;
                }
              }

              .item-left-main {
                @apply ml-4;

                .item-left-text {
                  @apply text-base font-medium;
                }

                .item-left-value {
                  @apply mt-2 block text-text_color_03;
                }
              }
            }

            .item-middle {
              @apply flex-1 flex items-center;

              span {
                @apply ml-2 font-medium;
              }
            }

            .item-right {
              min-width: 96px;
              @apply h-8 px-3 text-sm box-border;
            }

            &:last-child {
              border-bottom: 1px solid transparent;
            }
          }
        }
      }
    }
  }
}

:local(.bind-account-popup) {
  .popup-icon {
    @apply mb-0;

    .bind-account-icon {
      @apply w-9 h-9;
  
      svg {
        @apply w-full h-full;
      }
    }

    .bind-account-text {
      @apply text-base font-medium;
    }
  }

  .slot-content {
    @apply mb-0;

    .bind-account-popup-content {
      .content-text {
        @apply my-6 text-center text-text_color_01 w-full inline-block;
      }

      .content-text-left {
        @apply my-4 text-left;
      }

      .content-input {
        @apply h-10 mb-4 py-2 px-3 rounded-lg box-border font-medium bg-bg_sr_color;
      }

      .footer-checkobx {
        @apply mb-2;

        span {
          @apply text-xs ml-2 text-text_color_02;
        }
      }
    }
  }
}