:local(.scope) { 
  .coinspay-button-container {
    width: 360px;
    height: 46px;
    @apply flex  justify-center items-center text-button_text_01 rounded text-base font-medium;
  }
}


:local(.coins-trade-modal) { 
  width: 360px;
  @apply rounded-lg p-8;

  .arco-modal-header {
    @apply h-auto !important;
  }
  
  .arco-modal-title {
    @apply flex justify-center text-text_color_01 font-medium text-base;
  }
  
  .arco-modal-close-icon {
    @apply mt-3.5 mr-4 text-base;
  }
  
  .arco-modal-content {
    @apply px-0 pb-0;
  }
  
  .coins-trade-content {
    @apply flex justify-center text-text_color_01 mb-6 text-base;
  }
  

  
  .coins-trade-button {
    @apply w-full h-10 flex justify-between items-center mb-2 rounded;

    .coins-trade-cancel {
      width: 140px;
      @apply flex justify-center items-center text-brand_color rounded border border-brand_color h-10;
    }
    
    .coins-trade-ok {
      width: 140px;
      @apply flex justify-center items-center text-button_text_02  h-10;
    }
  }
}