:local(.scope) {
  height: 40px;

  @apply flex mb-6 items-center;

  .arco-form {
    @apply flex-row;
  }

  .arco-form-item-wrapper {
    width: 100%;
    @apply flex flex-1;
  }

  .form-field {
    width: 150px;
    height: 40px;
    border-radius: 4px;
    @apply mr-6;
  }

  .form-field-search {
    width: 214px;
  }

  .reset-button {
    width: 60px;
    height: 40px;
    @apply flex justify-center items-center bg-bg_sr_color text-text_color_01;
  }

  .arco-form-item-control-children {
    @apply h-full;

  }

  .selected-tag-wrapper,
  .select-text {
    font-weight: 400;
  }

  .arco-select-suffix-icon {
    .arco-icon {
      @apply h-2 w-2;
    }
  }

}
