:local(.vip-setting-nickname-modal), :local(.vip-setting-intro-modal) {
  .arco-modal-title {
    padding-top: 32px;
    padding-bottom: 24px;
  }

  .arco-modal-header {
    height: 82px;
  }

  .arco-modal-content {
    padding-bottom: 32px;
  }

  .arco-form {
    @apply space-y-4;

    >:first-child {
      @apply mb-0;
    }

    >:last-child {
      @apply !mt-6;
    }
  }

  .arco-btn {
    @apply rounded-lg;
  }

  .prompt-icon {
    font-size: 4px;
    @apply mr-2 mb-auto mt-2;
  }
}

:local(.vip-setting-intro-modal) {
  textarea {
    height: 174px;
    border-radius: 20px;
    @apply !bg-card_bg_color_03 border-line_color_01;

    &:hover {
      @apply !bg-card_bg_color_03;
    }
  }
}