:local(.scoped) {
  @apply w-full h-full flex justify-between items-center px-8 box-border whitespace-nowrap;

  font-size: 12px;

  .horizontal-scroll-bar {
    .bar-wrapper {
      @apply flex justify-start items-center pt-2 pb-1 pr-8;

      max-width: calc(100%);
    }

    max-width: calc(100% - 180px);

    .icon-circle {
      width: 16px;
      height: 42px;
      @apply bg-transparent drop-shadow-none rounded-none;
    }

    .right-0 {
      .icon-circle {
        background: linear-gradient(270deg, var(--bg_color) 64.58%, rgb(255 255 255 / 0%) 100%);
      }
    }

    .left-0 {
      .icon-circle {
        background: linear-gradient(90deg, var(--bg_color) 64.58%, rgb(255 255 255 / 0%) 100%);
      }
    }
  }

  .history-list {
    max-width: calc(100% - 180px);
    @apply flex items-center gap-6 overflow-x-auto;

    /* 高量当前选择的币对 */
    .selected-item {
      .quote-name {
        * {
          @apply text-brand_color;
        }
      }
    }

    .history-item:hover {
      @apply bg-card_bg_color_01;
    }

    .history-item {
      @apply flex flex-row items-center justify-center cursor-pointer p-2;
      @apply hover:bg-card_bg_color_01;

      .visiable {
        @apply visible;
      }

      .invisiable {
        @apply invisible;
      }

      .quote-name,
      .close-icon {
        @apply flex items-center pr-1;
      }

      .value {
        @apply flex ml-1;
      }
    }
  }

  .char-tab-wrapper {
    border-left: 1px solid var(--line_color_02);
    @apply pl-8;
    @apply ml-8;

    .chart-tab {
      @apply gap-8 !important;
    }

    .chart-tab .active .item {
      @apply text-xs font-medium text-text_color_01 !important;
    }


    .chart-tab .tab .item {
      @apply text-xs font-medium text-text_color_02;
    }

    .chart-tab .item:hover {
      @apply text-text_color_01;
    }
  }
}

:local(.market-history-bottom-bar) {
  height: 50px;
  @apply w-full;

  /* hide arrow icon */
  .right-0, .left-0 {
    @apply hidden
  }

  .history-list {
    max-width: 100%;
    height: 100%;

    .bar-wrapper {
      @apply h-full space-x-6;

      >:first-child {
        @apply ml-6;
      }

      >:last-child {
        @apply mr-6;
      }
    }

    .selected-item {
      @apply bg-card_bg_color_02;

      .close-icon {
        @apply visible;
      }

      .quote-name {
        .base-symbol-name {
          @apply text-text_color_01;
        }

        .quote-symbol-name {
          @apply text-text_color_02;
        }
      }
    }

    .history-item {
      padding-top: 5px;
      padding-bottom: 5px;
      @apply px-2 flex text-xs space-x-1 rounded cursor-pointer mx-0;

      .pair-name {
        @apply mr-1;
      }

      .close-icon {
        @apply flex items-center;
      }
    }

    .history-item:hover {
      @apply bg-card_bg_color_02;
    }
  }
}