:local(.coupon-select-root) {
  @apply relative flex py-1.5 px-3 bg-brand_color_light_bg rounded-lg;

  .arco-carousel {
    @apply w-full;
  }
  
  .coupon-select-cell {
    @apply flex items-center justify-between cursor-pointer w-full;

    .coupon-info {
      @apply flex-1 flex items-center justify-between text-xs pr-4;

      line-height: 18px;
    }
  }

  .select-icon {
    bottom: 11px;
    @apply absolute right-3;
  
    svg {
      @apply w-2 h-2;
    }
  }

  .unselect-text {
    @apply text-xs text-text_color_03 pr-4;

    line-height: 18px;
  }
}

:local(.coupon-select-modal) {
  max-height: 461px;
  @apply flex flex-col w-full bg-card_bg_color_03 overflow-y-hidden;

  .coupon-content {
    @apply flex flex-col px-8 pb-14 flex-1 overflow-y-scroll;

    .coupon-area-title {
      @apply text-base text-text_color_01 font-medium mb-4;
    }
  }

  .modal-bottom {
    @apply w-full px-3 py-2 bg-card_bg_color_03 border-line_color_02 fixed bottom-0;

    border-top-width: 0.5px;

    .commit-btn {
      @apply w-full h-10 rounded-lg;
    }
  }

  ::-webkit-scrollbar,
  ::-webkit-scrollbar-thumb {
    display: none;
  }
}