:local(.scoped) {
  @apply flex justify-between bg-bg_color;

  .row-wrap-between {
    @apply flex flex-row justify-between;
  }

  .menu-wrap {
    @apply flex-1 flex text-text_color_01;

    .menu-item-wrap {
      @apply mr-8 flex items-center;

      /* .is-active {
        @apply text-brand_color;
      } */

      svg {
        @apply transition-transform;
      }

      &:hover {
        @apply text-brand_color;

        svg {
          @apply rotate-180;
        }
      }
    }

    .multiple-menu-icon {
      margin-top: -4px;
      font-size: 8px;
    }

  }

  .home-wrap {
    @apply flex flex-1 items-center ml-8 text-lg text-brand_color;
  }

  .personalization-wrap {
    @apply flex flex-row flex-wrap items-center pr-6;

    height: 60px;

    .btn-wrap {
      @apply mr-8;
    }

    .login-btn-wrap, .text-wrap {
      @apply text-text_color_01 hover:text-brand_color cursor-pointer;
    }

    .login-btn-wrap {
      @apply mr-4;
    }

    .login-btn-wrap-line {
      @apply w-px h-4 bg-line_color_01 ml-2 mr-6;
    }

    > :last-child {
      @apply mr-0;
    }
  }

  .header-pop-wrap {
    @apply flex py-4 cursor-pointer;

    &:hover {
      svg {
        @apply rotate-180;
      }
    }

    .arrow-icon {
      font-size: 8px;
    }
  }
}

.pop-header-menu-wrap {
  max-width: 872px;
  @apply flex flex-shrink-0 flex-wrap;

  .submenu-wrap {
    width: 280px;
    @apply flex flex-col rounded pr-8 py-3 relative text-sm text-text_color_01 pl-16;

    .arrow-icon {
      @apply inline-flex opacity-0 right-4;
    }

    .main-icon {
      @apply inline-flex left-4 text-2xl w-6 h-6;
    }

    &:hover {
      @apply bg-card_bg_color_02 ;

      .arrow-icon {
        @apply opacity-100 ;
      }
    }

    .icon {
      @apply absolute;
    }

    .subtitle-wrap {
      @apply text-text_color_03 text-xs mt-1;
    }

  }
}

.i18n-select-wrap {
  @apply flex text-text_color_01;

  .it {
    @apply hover:text-auxiliary_color_01 cursor-pointer;
  }
}
