:local(.vip-center-header) {
  background: linear-gradient(355deg, #8BA0C9 4.17%, #A6B7D6 95.83%);

  .header-tags {
    @apply flex flex-row gap-4 mt-8 text-button_text_01;


    .arco-icon {
      font-size: 20px;
    }

    > span {
      @apply inline-flex items-center;
    }
  }

  .header-title {
    font-size: 40px;
    @apply text-button_text_01 font-semibold;
  }

  .header-layout {
    width: 1200px;
    height: 360px;
    @apply mx-auto flex flex-row items-center justify-between;
  }
}

:local(.vip-center-layout) {
  width: 1200px;
  @apply mx-auto flex flex-col space-y-10 mt-8;
}