:local(.scope) {
  @apply relative;

  .arco-picker-size-default {
    @apply h-8 opacity-0;
  }

  .time-picker-btn {
    @apply absolute left-0 top-0 w-full h-full;

    & > span {
      @apply text-text_color_01;

      font-weight: 400;
      font-size: 12px;
      font-style: normal;
      line-height: 18px;
    }
  }
}  