:local(.agent-modal) {
  @apply bg-transparent !important;

  .arco-modal-content {
    @apply p-0;
  }

  .update-invitation-code {
    @apply p-8 bg-card_bg_color_03 rounded-lg;

    .arco-input-word-limit {
      font-size: 14px
    }

    .invitation-code-header {
      @apply flex justify-between items-center;

      .invitation-code-header-title {
        @apply text-text_color_01 text-xl not-italic font-medium;
      }
    }

    .invitation-code-content {
      .invitation-code {
        @apply bg-bg_sr_color mt-8 rounded;

        .arco-input-inner-wrapper {
          @apply border-none;

          .arco-input {
            font-weight: 400;
            font-size: 14px;
            font-style: normal;
            line-height: 22px;
          }
        }
      }
    }

    .invitation-code-footer {
      @apply flex;

      .button {
        @apply flex-1 mt-8 h-10;

        font-weight: 500;
        font-size: 14px;
        font-style: normal;
        line-height: 22px;
      }

      .button:first-child {
        @apply text-text_color_02 mr-5 bg-card_bg_color_03;

        border: 1px solid var(--line_color_01);
      }
    }
  }

  .set-ratio {
    @apply p-8 bg-card_bg_color_03 rounded-lg;

    .set-ratio-header {
      @apply flex justify-between items-center;

      .set-ratio-header-title {
        @apply text-text_color_01 text-xl not-italic font-medium;
      }
    }

    .set-ratio-content {
      .set-radio-alert {
        @apply bg-brand_color_special_02 mt-4 items-start;

        .set-radio-alert-label {
          @apply text-brand_color text-xs font-normal not-italic;
        }
      }

      .set-radio-form-item {
        @apply mt-8;

        &.checkbox {
          @apply mt-6;
        }

        .set-radio-header {
          @apply text-text_color_01 mt-8;
        }

        .set-radio-input-box {
          @apply mt-2;

          .set-radio-input {
            @apply bg-bg_sr_color;

            .arco-input-inner-wrapper {
              @apply border-none;
    
              .arco-input {
                font-weight: 400;
                font-size: 14px;
                font-style: normal;
                line-height: 22px;
              }

              .arco-input-word-limit {
                @apply text-text_color_04;

                font-weight: 400;
                font-size: 14px;
                font-style: normal;
                line-height: 22px;
              }
            }
          }
        }

        .set-radio-slider {
          .set-radio-slider-header {
            @apply text-text_color_01 text-sm font-normal not-italic;

            span {
              @apply font-bold;
            }

            .set-slider-header-highlight {
              @apply text-brand_color;
            }
          }

          .set-radio-slider-content {
            .slider-wrap {
              @apply mt-2 mb-0.5;

              &.arco-slider-with-marks {
                @apply px-1.5;
              }

              .arco-slider-road::before {
                @apply h-1 bg-line_color_02;

              }

              .arco-slider-dot {
                @apply bg-icon_color;

                border-width: 4px;
              }

              .arco-slider-button {
                top: -1.5px;
                width: 16px;
                height: 16px;

                &::after {
                  border-width: 8px;
                }

                &::before {
                  @apply bg-button_text_01 !important;
                }
              }

              .arco-slider-bar {
                @apply h-1;
              }

              .arco-slider-marks {
                @apply top-4;

                .arco-slider-marks-text {
                  @apply text-text_color_01 text-xs;
                }
              }

              .arco-slider-button {
                &::before {
                  width: 8px;
                  height: 8px;
                  background: var(--color-bg-2);
                  content: '';
                  @apply absolute transform -translate-y-1/2 -translate-x-1/2 top-1/2 left-1/2 z-1 rounded-full;
                }
              }
            }
          }

          .set-radio-slider-footer {
            @apply flex justify-between items-center text-xs text-text_color_02;

            .set-radio-slider-footer-highlight {
              @apply font-medium text-brand_color;
            }

            .set-slider-footer-text {
              @apply text-text_color_02 not-italic;

              .set-slider-footer-highlight {
                @apply text-text_color_01;
              }
            }
          }
        }

        .set-radio-checkbox {
          .arco-checkbox {
            @apply flex items-center pl-0;

            .icon-wrap {
              @apply mt-0;
            }

            .checkbox-label {
              @apply text-text_color_01 ml-1;
  
              font-weight: 400;
              font-size: 12px;
              font-style: normal;
              line-height: 18px;
            }
          }
        }
      }
    }

    .set-ratio-footer {
      @apply flex;

      .button {
        @apply flex-1 mt-6 h-10;

        font-weight: 500;
        font-size: 14px;
        font-style: normal;
        line-height: 22px;
      }

      .button:first-child {
        @apply text-text_color_02 mr-5 bg-card_bg_color_03;

        border: 1px solid var(--line_color_01);
      }
    }
  }

  .poster {
    @apply py-8 px-24 relative bg-bg_color;

    .poster-header {
      @apply flex justify-between items-center;

      .poster-close-icon {
        @apply absolute top-9 right-9;
      }
    }

    .poster-content {
      .poster-image {
        @apply p-4 relative;

        height: 523px;

        .poster-header-title {
          @apply flex items-center text-brand_color text-base font-medium not-italic;

          .poster-header-logo {
            @apply mr-2 overflow-hidden rounded-full;
          }
        }

        .poster-text {
          @apply text-white mt-3 text-sm font-normal not-italic;
        }

        .poster-share {
          @apply text-text_color_01 mt-11 text-2xl font-semibold not-italic;
        }

        .poster-qrcode {
          @apply absolute p-1 bg-white bottom-4;
        }
      }
    }

    .poster-footer {
      @apply flex;

      .button {
        @apply flex-1 mt-8;
      }

      .button:not(:last-child) {
        @apply mr-5;
      }
    }
  }

  .qrcode-share {
    @apply p-5 relative bg-bg_color;

    .qrcode-share-close-icon {
      @apply absolute -bottom-16 left-36;
    }

    .qrcode-share-header {
      .qrcode-share-header-title {
        @apply flex items-center text-brand_color text-base font-medium not-italic;

        .qrcode-share-header-logo {
          @apply mr-2 overflow-hidden rounded-full;
        }
      }

      .qrcode-share-text {
        @apply text-white mt-3 text-sm font-normal not-italic;
      }
    }

    .qrcode-share-content {
      @apply mt-5 p-4 bg-white rounded-lg;

      .qrcode-share-qrcode {
        @apply w-full;

        .qrcode-share-qrcode-c {
          width: 249px;
        }
      }

      .qrcode-share-invitation-code {
        @apply flex items-center justify-center bg-card_bg_color_02 py-2.5 px-9 mt-4 text-text_color_01 text-sm font-normal not-italic;

        .qrcode-share-invitation-code-highlight {
          @apply ml-3 text-xl font-medium;
        }
      }
    }
  }

  .apply-success {
    @apply relative;

    .apply-success-close-icon {
      @apply absolute -bottom-16 left-40;
    }

    .apply-success-header {
      @apply pt-24 h-32;

      .apply-header-logo {
        @apply absolute left-0 top-0 -z-1;
      }

      .apply-success-text {
        @apply text-button_text_02 flex justify-center items-center text-base font-medium not-italic;
      }
    }

    .apply-success-content {
      @apply px-4 pb-5 bg-brand_color;

      border-radius: 8px;

      .apply-success-box {
        @apply bg-bg_color p-4 text-text_color_01 text-sm font-normal not-italic;

        border-radius: 8px;

        .brand {
          @apply text-brand_color;
        }

        .button {
          @apply w-full h-10;

          font-weight: 500;
          font-size: 14px;
          font-style: normal;
          line-height: 22px;
        }
      }
    }
  }

  .tips {
    @apply p-8 bg-bg_color rounded-lg;

    .tips-header {
      @apply flex justify-between items-center;

      .tips-header-title {
        @apply text-text_color_01 flex-1 text-center text-base font-medium not-italic;
      }

    }

    .tips-content {
      .tips-content-text {
        @apply text-text_color_01 mt-6;

        .tips-abnormal {
          @apply text-sell_down_color
        }

        .text1 {
          @apply mt-2;

          font-weight: 400;
          font-size: 14px;
          font-family: "PingFang SC";
          line-height: 22px;
          letter-spacing: 0;
          text-align: left;
        }


        .tips-text {

          @apply mt-2;

          font-weight: 400;
          font-size: 14px;
          font-family: "PingFang SC";
          line-height: 22px;
          letter-spacing: 0;
          text-align: left;


        }

        .line-feed {
          word-wrap: break-word;
        }
      }
    }

    .tips-warn {
      @apply text-left mt-6;

      .arco-checkbox-text {
        @apply ml-1

      }

      .no-warn {
        @apply text-text_color_03 ;

        font-weight: 400;
        font-size: 12px;
        font-family: "PingFang SC";
        line-height: 18px;
        letter-spacing: 0;
        text-align: left;
      }
    }

    .tips-footer {
      @apply flex;

      .button {
        @apply flex-1 mt-6 h-10;

        font-weight: 500;
        font-size: 14px;
        font-style: normal;
        line-height: 22px;
      }
    }
  }

  .arco-alert-icon-wrapper {
    height: 18px;
    @apply mr-1;

    svg {
      @apply text-xs;
    }
  }
}