:local(.scoped) {
  @apply flex w-full;

  .trigger-price-show {
    .arco-input-inner-wrapper {
      @apply pr-6 overflow-hidden;
    }
  }

  &.mode-sell {
    .submit-btn {
      @apply bg-sell_down_color hover:bg-sell_down_color_hover text-button_text_01 font-medium !important;
    }

    .slider-wrap {
      /* .arco-slider-bar, .arco-slider-dot-active {
        @apply bg-sell_down_color border-sell_down_color;
      } */
    }

    .arco-slider-button {
      &::after {
        @apply bg-sell_down_color border-sell_down_color;
      }
    }
  }

  &.mode-buy {
    .submit-btn {
      @apply bg-buy_up_color hover:bg-buy_up_color_hover text-button_text_01 font-medium !important;
    }

    .slider-wrap {
      /* .arco-slider-bar, .arco-slider-dot-active {
        @apply bg-buy_up_color border-buy_up_color;
      } */

      .arco-slider-button {
        &::after {
          @apply bg-buy_up_color border-buy_up_color;
        }
      }
    }

  }

  .arco-form {
    .arco-form-item-control {
      @apply h-auto;
    }

    &.arco-form-horizontal {
      .arco-form-item {
        @apply relative mb-2.5;

        .arco-form-item-wrapper {
          @apply w-full min-w-full;
        }
      }
    }

    .arco-form-message {
      @apply hidden !important;
    }
  }

  .slider-wrap {
    @apply px-1.5;

    &.arco-slider-with-marks {
    }

    .arco-slider-road::before {
      height: 4px !important;
    }

    .arco-slider-dot {
      border-width: 4px !important;
      @apply bg-icon_color !important;
    }

    .arco-slider-button {
      top: -1.5px !important;
      width: 16px !important;
      height: 16px !important;

      &::after {
        border-width: 8px !important;
      }

      &::before {
        @apply bg-button_text_01 !important;
      }
    }

    .arco-slider-bar {
      @apply h-1 !important;
    }

    .arco-slider-marks {
      @apply top-4 !important;

      .arco-slider-marks-text {
        @apply text-text_color_01 text-xs !important;
      }
    }

    .arco-slider-button {
      &::before {
        width: 8px !important;
        height: 8px !important;
        background: var(--button_text_01) !important;
        content: '' !important;
        @apply absolute transform -translate-y-1/2 -translate-x-1/2 top-1/2 left-1/2 z-1 rounded-full !important;
      }
    }
  }

  .position-margin-slider {
    margin-bottom: 30px !important;
    @apply mt-3;

    .arco-slider-button {
      &::after {
        @apply bg-brand_color border-brand_color !important;
      }
    }

    /* .arco-slider-bar , .arco-slider-dot-active {
      @apply bg-brand_color border-brand_color !important;
    } */
  }

  .ext-assets-slider-wrap {
    width: 106%;
    margin-bottom: 26px;
    transform: translateX(-15%);

    .arco-slider-road {
      &::before {

        @apply hidden;
      }
    }

    .arco-slider-bar {
      @apply hidden;
    }

    .arco-slider-marks-text {
      width: max-content;
    }

    .arco-slider-dot-wrapper {
      width: 23%;
      height: 6px;

      .arco-slider-dot {
        width: 100%;
        height: 100%;
        border-radius: 1px;
      }

      &:first-child {
        @apply hidden;
      }
    }

    .arco-slider-button {
      @apply hidden;
    }
  }

  .auto-assets-wrap {
    margin-left: -5px;
    @apply mb-3 mt-1.5;


    .arco-checkbox-text {
      @apply text-text_color_02 text-xs;
    }
  }

  .futures-option-wrap {
    @apply mb-2;

    .arco-checkbox {
      @apply pl-0;
    }

    .arco-checkbox-text {
      @apply text-xs;
    }
  }

  .trade-amount-market-wrap {
    .arco-form-message {
      /* @apply absolute bottom-0; */
    }
  }

  .login-btn-wrap {
    a {
      @apply font-medium;
    }
  }

  .arco-input-number {
    input {
      @apply text-right pr-2 !important;
    }
  }

  .arco-input-group {
    .arco-input-inner-wrapper {
      .arco-input-group-prefix {
        @apply text-text_color_02;
      }

      .arco-input-group-suffix {
        @apply text-text_color_01;
      }

      input {
        &.arco-input-disabled {
          -webkit-text-fill-color: var(--text_color_04);
        }

        &::placeholder {
          @apply text-text_color_04;
        }
      }
    }
  }

  .price-text {
    .arco-input-inner-wrapper {
      @apply pr-1 !important;
    }
  }



  .arco-select-suffix {
    @apply ml-0 !important;
  }

  .arco-input-number-suffix {
    .arco-select-single {
      @apply w-5 !important;

      .arco-select-view {
        @apply pl-0 !important;
      }
    }
  }
}

.futures-trade-panel-buy-default-tip {
  right: 316px !important;
  left: unset !important;
}

.futures-trade-panel-sell-default-tip {
  right: 8px !important;
  left: unset !important;
}

.futures-trade-panel-buy-left-tip {
  left: 221px !important;
}

.futures-trade-panel-sell-left-tip {
  left: 221px !important;
}

.futures-trade-panel-buy-right-tip {
  right: 8px !important;
  left: unset !important;
}

.futures-trade-panel-sell-right-tip {
  right: 8px !important;
  left: unset !important;
}
