:local(.scoped) {
  @apply xl:px-0  m-auto;

  .agent-page {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  @apply w-full relative;

  .section {
    @apply bg-bg_color relative w-full;

    .share-card {
      width: 1200px;
      @apply mx-auto;
    }

    .agent-apply-top20 {
      @apply bg-bg_color dark:bg-bg_color flex items-center justify-center mx-auto py-20;

      height: 494px;

      .agent-apply-top20-l {
        .agent-apply-top20-title {
          @apply text-text_color_01 text-xl font-medium not-italic;
        }

        .subtitle-box {
          @apply flex justify-between items-center mt-2;

          .agent-apply-top20-subtitle {
            @apply text-text_color_02 text-sm font-normal not-italic;
          }

          .agent-apply-top20-more {
            @apply text-brand_color cursor-pointer font-normal not-italic;

            font-size: 14px;
            line-height: 27px;
          }
        }

        .agent-apply-top20-listitems {
          @apply mt-8;

          width: 600px;
        }
      }

      .agent-apply-top20-r {
        @apply flex self-end ml-40;
      }
    }

    .agent-apply-footer {
      @apply text-center pt-14;

      height: 314px;
      background: linear-gradient(342.26deg, #fecb49 3.41%, #ffcc75 90.83%);

      .agent-apply-footer-title {
        @apply text-button_text_02 font-semibold not-italic;

        font-size: 40px;
        line-height: 60px;
      }

      .agent-apply-footer-subtitle {
        @apply text-button_text_02 mt-4 text-base font-normal not-italic;
      }

      .agent-apply-footer-button {
        @apply text-button_text_01 mt-8 h-10;

        width: 200px;
        font-weight: 500;
        font-size: 14px;
        font-style: normal;
        line-height: 22px;
        background: var(--nc-17); /* tag: 缺少色板值 */
      }
    }
  }
}

:local(.agent) {
  .arco-popconfirm-content,
  .arco-popover-content {
    /* @apply bg-toast_bg_color; */

    background: var(--nc-17); /* tag: 缺少色板值 */
  }

  .arco-popconfirm-arrow.arco-trigger-arrow,
  .arco-popover-arrow.arco-trigger-arrow {
    /* @apply bg-toast_bg_color; */

    background: var(--nc-17); /* tag: 缺少色板值 */
  }

  .arco-popconfirm-title {
    @apply mb-0;
  }

  .pop-card-text {
    @apply text-button_text_01 text-xs font-normal not-italic;
  }
}

:local(.agent-apply-modal) {
  @apply overflow-hidden rounded-lg !important;

  .ranking-rule {
    @apply bg-card_bg_color_03 !important;
  }

  .arco-modal-content {
    @apply p-0;
  }

  .update-invitation-code {
    @apply p-8;

    .invitation-code-header {
      @apply flex justify-between items-center;

      .invitation-code-header-title {
        @apply text-text_color_01 text-xl font-medium not-italic;
      }
    }

    .invitation-code-content {
      .invitation-code {
        @apply bg-bg_sr_color mt-8;
      }
    }

    .invitation-code-footer {
      @apply flex;

      .button {
        @apply flex-1 mt-8;
      }

      .button:not(:last-child) {
        @apply mr-5;
      }
    }
  }

  .set-ratio {
    @apply p-8;

    .set-ratio-header {
      @apply flex justify-between items-center;

      .set-ratio-header-title {
        @apply text-text_color_01 text-xl font-medium not-italic;
      }
    }

    .set-ratio-content {
      .set-radio-alert {
        @apply bg-brand_color_special_02 mt-4;

        .set-radio-alert-label {
          @apply text-brand_color text-xs font-normal not-italic;
        }
      }

      .set-radio-form-item {
        @apply mt-8;

        .set-radio-slider {
          .set-radio-slider-header {
            @apply text-text_color_01 text-sm font-normal not-italic;

            .set-radio-slider-header-highlight {
              @apply text-brand_color;
            }
          }

          .set-radio-slider-content {
            .slider-wrap {
              @apply mt-2 mb-0.5;

              &.arco-slider-with-marks {
                @apply px-1.5;
              }

              .arco-slider-road::before {
                @apply h-1;
              }

              .arco-slider-dot {
                @apply bg-icon_color;

                border-width: 4px;
              }

              .arco-slider-button {
                @apply w-4 h-4;

                top: -1.5px;

                &::after {
                  border-width: 8px;
                }

                &::before {
                  @apply bg-button_text_01 !important;
                }
              }

              .arco-slider-bar {
                @apply h-1;
              }

              .arco-slider-marks {
                @apply top-4;

                .arco-slider-marks-text {
                  @apply text-text_color_01 text-xs;
                }
              }

              .arco-slider-button {
                &::before {
                  @apply w-2 h-2 absolute transform -translate-y-1/2 -translate-x-1/2 top-1/2 left-1/2 z-1 rounded-full;

                  background: var(--color-bg-2);
                  content: '';
                }
              }
            }
          }

          .set-radio-slider-footer {
            @apply flex justify-between items-center;

            .set-radio-slider-footer-text {
              @apply text-text_color_02 text-xs font-normal not-italic;

              .set-radio-slider-footer-highlight {
                @apply text-button_text_02;
              }
            }
          }
        }
      }
    }

    .set-ratio-footer {
      @apply flex;

      .button {
        @apply flex-1 mt-8;
      }

      .button:not(:last-child) {
        @apply mr-5;
      }
    }
  }

  .poster {
    @apply py-8 px-24 relative;

    .poster-header {
      @apply flex justify-between items-center;

      .poster-close-icon {
        @apply absolute top-9 right-9;
      }
    }

    .poster-content {
      .poster-image {
        @apply p-4 relative;

        height: 523px;

        .poster-header-title {
          @apply flex items-center text-brand_color text-base font-medium not-italic;

          .poster-header-logo {
            @apply mr-2 overflow-hidden rounded-full;
          }
        }

        .poster-text {
          @apply text-white mt-3 text-sm font-normal not-italic;
        }

        .poster-share {
          @apply text-text_color_01 mt-11 font-semibold not-italic;

          font-size: 26px;
          line-height: 40px;
        }

        .poster-qrcode {
          @apply absolute bottom-4 p-1 bg-white;
        }
      }
    }

    .poster-footer {
      @apply flex;

      .button {
        @apply flex-1 mt-8;
      }

      .button:not(:last-child) {
        @apply mr-5;
      }
    }
  }

  .qrcode-share {
    @apply p-5 relative;

    .qrcode-share-close-icon {
      @apply absolute -bottom-16 left-36;
    }

    .qrcode-share-header {
      .qrcode-share-header-title {
        @apply flex items-center text-brand_color text-base font-medium not-italic;

        .qrcode-share-header-logo {
          @apply mr-2 overflow-hidden rounded-full;
        }
      }

      .qrcode-share-text {
        @apply text-white mt-3 text-sm font-normal not-italic;
      }
    }

    .qrcode-share-content {
      @apply mt-5 p-4 bg-white rounded-lg;

      .qrcode-share-qrcode {
        @apply w-full;

        .qrcode-share-qrcode-c {
          width: 249px;
        }
      }

      .qrcode-share-invitation-code {
        @apply flex items-center text-sm justify-center bg-card_bg_color_02 py-2.5 px-9 mt-4 text-text_color_01 font-normal not-italic;

        .qrcode-share-invitation-code-highlight {
          @apply ml-3 text-xl font-medium;
        }
      }
    }
  }

  .ranking {
    @apply relative;

    .ranking-close-icon {
      @apply absolute top-3 right-3;
    }

    .ranking-header {
      @apply p-8;

      .ranking-header-title {
        @apply text-button_text_01 mt-3.5 font-semibold not-italic;

        font-size: 22px;
        line-height: 34px;
      }

      .ranking-header-text {
        @apply text-button_text_01 mt-4 text-base font-normal not-italic;
      }

      .ranking-header-rule {
        @apply text-brand_color mt-2 cursor-pointer text-base font-normal not-italic;
      }
    }

    .ranking-content {
      @apply p-8 pr-0 bg-card_bg_color_03;

      .ranking-content-listitems {
        @apply overflow-y-scroll pr-8;

        max-height: 480px;
      }
    }
  }

  .ranking-rule {
    @apply bg-bg_color rounded-lg p-8;

    /* width: 360px;
    height: 172px; */

    .ranking-rule-text {
      @apply text-text_color_01 text-sm font-normal not-italic;

      .ranking-rule-text-highlight {
        @apply text-brand_color;
      }
    }

    .ranking-rule-button {
      @apply w-full mt-6 h-10;

      & > span {
        @apply text-button_text_02;

        font-weight: 500;
        font-size: 14px;
        font-style: normal;
        line-height: 22px;
      }
    }
  }

  .tips {
    @apply p-8;

    .tips-header {
      @apply flex justify-between items-center;

      .tips-header-title {
        @apply text-text_color_01 flex-1 text-center text-base font-medium not-italic;
      }
    }

    .tips-content {
      .tips-content-text {
        @apply text-text_color_01 mt-6;
      }
    }

    .tips-footer {
      @apply flex;

      .button {
        @apply flex-1 mt-6;
      }
    }
  }
}
