:local(.container) { 
  .useful-expressions {
    @apply px-3 inline-block;
    
    .arco-input {
      height: 36px !important;
    }
    
    .arco-select-option-selected {
      /* @apply bg-bg_color_03; */
    }
    
    .arco-input-inner-wrapper {
      height: 38px;
      border-radius: 8px;
      @apply border border-line_color_01;
    }

    .arco-input-group {
      border-radius: 8px;
    }
    
    svg {
      @apply text-sm;
    }
    
    .country-input {

      @apply mt-3;

      .arco-input {
        height: 46px;
      }
    }

    .useful-expressions-item {
      @apply h-12 flex items-center font-medium border-line_color_01 border-b pl-3;
    }
    
    .arco-input-inner-wrapper {
      @apply bg-bg_color border-line_color_01;
    }
    
    .useful-expressions-delete {
      svg {
        @apply text-lg;
      }
    }
  }

  li {
    @apply h-12 flex items-center;
  }
  
  .country-select-img {
    @apply w-10 h-6 mr-2 !important;
  }
  
  .country-select-nodata {
    @apply flex justify-center mt-3 font-medium;
  }

}