:local(.scoped-table) {
  .details {
    @apply flex items-center justify-end;

    & > div :nth-child(1) {
      svg {
        width: 16px;
        height: 14px;
        @apply mr-2;
      }
    }

    & > div :nth-child(2) {
      font-size: 14px;
      @apply not-italic font-normal leading-6;
    }
  }
}
