

:local(.content) {
  @apply relative;
  
  .upload-icon-delete {
    @apply absolute -top-1 -right-1 z-20;
  }

  .re-upload-img {
    @apply absolute top-1/2 left-1/2 -mt-3 -ml-3;

    .upload-icon {
      @apply text-2xl;
    }
  }


  .upload-img {
    width: 84px;
    height: 84px;
    @apply inline-flex justify-center items-center border-line_color_01 border-dashed border rounded;
    
    svg {
      @apply text-2xl;
    }



    video {
      width: 84px;
      height: 84px;
    }
  }
}


