:local(.base-select-wrapper) {
  @apply mr-6 inline-flex items-center;

  .newbit-select-custom-style {
    .arco-select-view {
      @apply rounded-lg;
    }
  }
}

:local(.base-select-options-wrapper) {
  .arco-select-option.arco-select-option-selected {
    @apply text-auxiliary_color_01;
  }
}

:local(.date-select-modal-wrapper) {
  .arco-picker-cell-in-view .arco-picker-date-value,
  .arco-picker-header-value {
    @apply font-normal;
  }

  &.in-trade {
    .arco-picker-cell-in-view .arco-picker-date-value,
    .arco-picker-header-value,
    .arco-picker-week-list-item {
      font-size: 12px;
    }
  }
}

:local(.date-select-wrapper) {
  width: 240px;
  border-radius: 8px;

  &.in-trade {
    @apply bg-transparent h-6 border-transparent hover:border-transparent;

    &.arco-picker-size-default input {
      @apply text-xs;
    }
  }

  
}