:local(.scoped) {
  @apply h-full;

  thead .arco-table-th {
    @apply bg-card_bg_color_01 text-xs text-text_color_02 h-10;

    /* min-height: 40px; */
  }

  tbody .arco-table-tr {
    min-height: 42px;
  }
  
  tbody .arco-table-td {
    @apply cursor-auto bg-transparent text-text_color_01;
  }

  .arco-table-sorter {
    @apply ml-1
  }

  .arco-table-td {
    @apply pr-3 py-2;
  }

  .arco-table-th {
    @apply px-3;
  }

  .arco-table-tr .arco-table-td:first-child, .arco-table-tr .arco-table-th:first-child {
    padding-left: 22px;
  }

  .arco-table-tr .arco-table-td:last-child, .arco-table-tr .arco-table-th:last-child {
    @apply pr-3;
  }

  .arco-table-th-item {
    @apply px-0;
  }
   
  .arco-table-col-has-sorter .arco-table-cell-with-sorter {
    @apply p-0 h-10 leading-10;
  }

  .arco-table-hover .arco-table-tr:hover .arco-table-td,
  .arco-table-hover .arco-table-tr:not(.arco-table-empty-row):hover .arco-table-td.arco-table-col-fixed-left::before, .arco-table-hover .arco-table-tr:not(.arco-table-empty-row):hover .arco-table-td.arco-table-col-fixed-right::before {
    @apply bg-card_bg_color_01 !important;
  }

  .arco-table-col-fixed-right-first::after {
    @apply bottom-0;
  }

  .arco-table-sorter-icon {
    height: 9px;
    line-height: 9px;

    svg {
      font-size: 9px;
    }

    .arco-icon-caret-up {
      top: 3px;
    }

    .arco-icon-caret-down {
      top: 0;
    }

    &:not(.arco-table-sorter-icon-active) {
      svg {
        @apply text-icon_color;
      }
    }
  }
}
    