
  
/* 币安 样式下 acro 组件主题色 */
  
body[arco-theme= 'light'][theme-business= 'chainstar'] {
  /* 基色 对应--or-05 */
  --primary-6: 27, 121, 231; 
  
  /* 悬浮 对应--or-06 */
  --primary-5: 65, 150, 236, 1;
  
  /* 点击 对应--or-04 */
  --primary-7: 17, 93, 192, 1;
  
  /* 特殊场景 对应--or-07 */
  --primary-4: 120, 184, 250, 1;
  
  /* 一般禁用 对应--or-08 */
  --primary-3: 145, 202, 245, 1;
  
  /* 文字禁用 对应--or-10 */
  --primary-2: 232, 247, 255, 1;
  
  /* 浅色背景 对应--or-10 */
  --primary-1: 232, 247, 255, 1;

  /* 强调/正文标题 对应--nc-01 */
  --color-text-1: rgb(16 16 20 / 100%);

  /* 文字/次要信息 对应--nc-06 */
  --color-text-3: rgb(157 157 157 / 100%);
  
  /* 文字禁用 对应--nc-07 */
  --color-text-4: rgb(192 192 192 / 100%);

  /* 描边色 按钮禁用 对应--nc-08 */
  --color-border-1: rgb(219 219 219 / 100%);
  
  /* 重/按钮描边 对应--nc-08 */
  --color-border-4: rgb(219 219 219 / 100%);
  
  /* 描边 对应--nc-08 */
  --color-border-6: rgb(219 219 219 / 100%);
  --color-neutral-3: rgb(219 219 219 / 100%);

  /* 分割线  对应--nc-09 */
  --color-border-5: rgb(242 242 242 / 100%);

  /* 浅/禁用 对应--nc-08 */
  --color-fill-1: rgb(219 219 219 / 100%);
  
  /* 填充色  对应--nc-12 */
  --color-fill-2: rgb(255 255 255 / 100%);
  
  /* 填充色 - 图标 对应--nc-05 */
  --color-fill-6: rgb(127 127 129 / 100%);

  /* 全局背景色 对应--nc-12 */
  --color-bg-1: rgb(255 255 255 / 100%);

  /* 卡片前景色 对应--nc-10 */
  --color-bg-2: rgb(250 250 250 / 100%);
  
  /* 输入框/搜索框 对应--nc-09 */
  --color-bg-3: rgb(242 242 242 / 100%);

  /* 卡片背景色 对应--nc-11 */
  --color-bg-4: rgb(242 242 242 / 100%);
  
  /* 卡片背景色 对应--nc-15 */
  --color-bg-5: rgb(255 255 255 / 100%);

  /* 特殊背景色 对应--nc-16 */
  --color-bg-6: rgb(127 127 129 / 20%);
  
  /* 警示色常规 对应--rd-05 */
  --warning-6: 246, 70, 93, 1;
  --danger-6: 246, 70, 93, 1;
  --sell-down-6: 246, 70, 93, 1;
  
  /* 警示色悬浮 对应--rd-06 */
  --warning-5: 248, 102, 116, 1;
  --danger-5: 248, 102, 116, 1;
  --sell-down-5: 248, 102, 116, 1;

  /* 警示色点击 对应--rd-04 */
  --warning-7: 204, 43, 70, 1;
  --danger-7: 204, 43, 70, 1;
  --sell-down-7: 204, 43, 70, 1;

  /* 警示色特殊场景 对应--rd-07 */
  --warning-4: 250, 133, 141, 1;
  --danger-4: 250, 133, 141, 1;
  --sell-down-4: 250, 133, 141, 1;

  /* 警示色禁用 对应--rd-08 */
  --warning-3: 251, 166, 169, 1;
  --danger-3: 251, 166, 169, 1;
  --sell-down-3: 251, 166, 169, 1;

  /* 浅色背景 对应--rd-10 */
  --warning-1: 253, 199, 199, 1;
  --danger-1: 253, 199, 199, 1;
  --sell-down-2: 253, 199, 199, 1;

  /* 成功背景 对应--gr-05 */
  --success-6: 46, 189, 133, 1;
  --buy-up-6: 46, 189, 133, 1;
  
  /* 成功悬浮 对应--gr-06 */
  --success-5: 76, 202, 150, 1;
  --buy-up-5: 76, 202, 150, 1;
  
  /* 成功点击 对应--gr-04 */
  --success-7: 29, 161, 115, 1;
  --buy-up-7: 29, 161, 115, 1;
  
  /* 成功特殊场景 对应--gr-07 */
  --success-4: 110, 215, 168, 1;
  --buy-up-1: 110, 215, 168, 1;

  /* 成功一般禁用 对应--gr-08 */
  --success-3: 147, 229, 189, 1;
  --buy-up-3: 147, 229, 189, 1;
  
  /* 成功浅色背景 对应--gr-10 */
  --success-2: 188, 242, 214, 1;
  --buy-up-2: 188, 242, 214, 1;
  
  /* 提示常规 对应--or-05 */
  --tips-6: 27, 121, 231, 1;

  /* 提示悬浮 对应--or-06 */
  --tips-5: 65, 150, 236, 1;
  
  /* 提示点击 对应--or-04 */
  --tips-7: 17, 93, 192, 1;
  
  /* 提示特殊场景 对应--or-07 */
  --tips-4: 120, 184, 250, 1;
  
  /* 提示一般禁用 对应--or-08 */
  --tips-3: 145, 202, 245, 1;
  
  /* 提示浅色背景 对应--or-10 */
  --tips-2: 232, 247, 255, 1;
}

body[arco-theme= 'dark'][theme-business= 'chainstar'] {
  /* 基色 对应--or-05 */
  --primary-6: 27, 121, 231, 1;
  
  /* 悬浮 对应--or-06 */
  --primary-5: 65, 150, 236, 1;
  
  /* 点击 对应--or-04 */
  --primary-7: 17, 93, 192, 1;
  
  /* 特殊场景 对应--or-07 */
  --primary-4: 9, 67, 154, 1;
  
  /* 一般禁用 对应--or-08 */
  --primary-3: 3, 44, 115, 1;
  
  /* 文字禁用 对应--or-10 */
  --primary-2: 0, 26, 77, 1;
  
  /* 浅色背景 对应--or-10 */
  --primary-1: 0, 26, 77, 1;

  /* 强调/正文标题 对应--nc-01 */
  --color-text-1: rgb(255 255 255 / 100%);

  /* 文字/次要信息 对应--nc-06 */
  --color-text-3: rgb(157 157 157 / 100%);
  
  /* 文字禁用 对应--nc-07 */
  --color-text-4: rgb(83 85 90 / 100%);

  /* 描边色 按钮禁用 对应--nc-08 */
  --color-border-1: rgb(65 67 71 / 100%);
  
  /* 重/按钮描边 对应--nc-08 */
  --color-border-4: rgb(65 67 71 / 100%);
  
  /* 描边 对应--nc-08 */
  --color-border-6: rgb(65 67 71 / 100%);
  --color-neutral-3: rgb(65 67 71 / 100%);

  /* 分割线  对应--nc-09 */
  --color-border-5: rgb(50 51 55 / 100%);

  /* 浅/禁用 对应--nc-08 */
  --color-fill-1: rgb(65 67 71 / 100%);
  
  /* 填充色  对应--nc-12 */
  --color-fill-2: rgb(16 16 20 / 100%);
  
  /* 填充色 - 图标 对应--nc-05 */
  --color-fill-6: rgb(192 192 192 / 100%);

  /* 全局背景色 对应--nc-12 */
  --color-bg-1: rgb(16 16 20 / 100%);

  /* 卡片前景色 对应--nc-10 */
  --color-bg-2: rgb(28 28 32 / 100%);
  
  /* 输入框/搜索框 对应--nc-09 */
  --color-bg-3: rgb(50 51 55 / 100%);

  /* 卡片背景色 对应--nc-11 */
  --color-bg-4: rgb(45 46 52 / 100%);
  
  /* 卡片背景色 对应--nc-15 */
  --color-bg-5: rgb(37 38 43 / 100%);

  /* 特殊背景色 对应--nc-16 */
  --color-bg-6: rgb(127 127 129 / 100%);
  
  /* 警示色常规 对应--rd-05 */
  --warning-6: 246, 70, 93, 1;
  --danger-6: 246, 70, 93, 1;
  --sell-down-6: 246, 70, 93, 1;
  
  /* 警示色悬浮 对应--rd-06 */
  --warning-5: 248, 102, 116, 1;
  --danger-5: 248, 102, 116, 1;
  --sell-down-5: 248, 102, 116, 1;

  /* 警示色点击 对应--rd-04 */
  --warning-7: 204, 43, 70, 1;
  --danger-7: 204, 43, 70, 1;
  --sell-down-7: 204, 43, 70, 1;

  /* 警示色特殊场景 对应--rd-07 */
  --warning-4: 250, 133, 141, 1;
  --danger-4: 250, 133, 141, 1;
  --sell-down-4: 250, 133, 141, 1;

  /* 警示色禁用 对应--rd-08 */
  --warning-3: 251, 166, 169, 1;
  --danger-3: 251, 166, 169, 1;
  --sell-down-3: 251, 166, 169, 1;

  /* 浅色背景 对应--rd-10 */
  --warning-1: 119, 8, 34, 1;
  --danger-1: 119, 8, 34, 1;
  --sell-down-2: 119, 8, 34, 1;

  /* 成功背景 对应--gr-05 */
  --success-6: 46, 189, 133, 1;
  --buy-up-6: 46, 189, 133, 1;
  
  /* 成功悬浮 对应--gr-06 */
  --success-5: 76, 202, 150, 1;
  --buy-up-5: 76, 202, 150, 1;
  
  /* 成功点击 对应--gr-04 */
  --success-7: 29, 161, 115, 1;
  --buy-up-7: 29, 161, 115, 1;
  
  /* 成功特殊场景 对应--gr-07 */
  --success-4: 110, 215, 168, 1;
  --buy-up-1: 110, 215, 168, 1;

  /* 成功一般禁用 对应--gr-08 */
  --success-3: 147, 229, 189, 1;
  --buy-up-3: 147, 229, 189, 1;
  
  /* 成功浅色背景 对应--gr-10 */
  --success-2: 6, 105, 77, 1;
  --buy-up-2: 6, 105, 77, 1;
  
  /* 提示常规 对应--or-05 */
  --tips-6: 27, 121, 231, 1;

  /* 提示悬浮 对应--or-06 */
  --tips-5: 65, 150, 236, 1;
  
  /* 提示点击 对应--or-04 */
  --tips-7: 17, 93, 192, 1;
  
  /* 提示特殊场景 对应--or-07 */
  --tips-4: 9, 67, 154, 1;
  
  /* 提示一般禁用 对应--or-08 */
  --tips-3: 3, 44, 115, 1;
  
  /* 提示浅色背景 对应--or-10 */
  --tips-2: 0, 26, 77, 1;
}

/* okx 样式下 acro 组件主题色 */

body[arco-theme= 'light'][theme-type= 'okx'] {
  /* 基色 对应--or-05 */
  --primary-6: 0, 0, 0, 1;

  /* 悬浮 对应--or-06 */
  --primary-5: 32, 32, 36, 1 ;

  /* 点击 对应--or-04 */
  --primary-7: 18, 17, 17, 1;

  /* 特殊场景 对应--or-07 */
  --primary-4: 242, 242, 242, 1;
  
  /* 一般禁用 对应--or-08 */
  --primary-3: 237, 237, 237, 1;
  
  /* 文字禁用 对应--or-10 */
  --primary-2: 71, 71, 71, 1;
  
  /* 浅色背景 对应--or-10 */
  --primary-1: 128, 128, 128, 1;

  /* 强调/正文标题 对应--nc-01 */
  --color-text-1: rgb(0 0 0 / 100%);

  /* 文字/次要信息 对应--nc-06 */
  --color-text-3: rgb(169 169 169 / 100%);
  
  /* 文字禁用 对应--nc-07 */
  --color-text-4: rgb(189 189 189 / 100%);

  /* 描边色 按钮禁用 对应--nc-08 */
  --color-border-1: rgb(235 235 235 / 100%);
  
  /* 重/按钮描边 对应--nc-08 */
  --color-border-4: rgb(235 235 235 / 100%);
  
  /* 描边 对应--nc-08 */
  --color-border-6: rgb(235 235 235 / 100%);
  --color-neutral-3: rgb(235 235 235 / 100%);

  /* 分割线  对应--nc-09 */
  --color-border-5: rgb(242 242 242 / 100%);

  /* 浅/禁用 对应--nc-08 */
  --color-fill-1: rgb(235 235 235 / 100%);
  
  /* 填充色  对应--nc-12 */
  --color-fill-2: rgb(255 255 255/ 100%);
  
  /* 填充色 - 图标 对应--nc-05 */
  --color-fill-6: rgb(146 146 146 / 100%);

  /* 全局背景色 对应--nc-12 */
  --color-bg-1: rgb(255 255 255 / 100%);

  /* 卡片前景色 对应--nc-10 */
  --color-bg-2: rgb(249 249 249 / 100%);
  
  /* 输入框/搜索框 对应--nc-09 */
  --color-bg-3: rgb(242 242 242 / 100%);

  /* 卡片背景色 对应--nc-11 */
  --color-bg-4: rgb(235 235 235 / 100%);
  
  /* 卡片背景色 对应--nc-15 */

  --color-bg-5: rgb(255 255 255 / 100%);

  /* 特殊背景色 对应--nc-16 */
  --color-bg-6: rgb(146 146 146 / 20%);
  
  /* 警示色常规 对应--rd-05 */
  --warning-6: 235, 75, 109, 1;
  --danger-6: 235, 75, 109, 1;
  --sell-down-6: 235, 75, 109, 1;
  
  /* 警示色悬浮 对应--rd-06 */
  --warning-5: 249, 110, 135, 1;
  --danger-5: 249, 110, 135, 1;
  --sell-down-5: 249, 110, 135, 1;

  /* 警示色点击 对应--rd-04 */
  --warning-7: 210, 52, 91, 1;
  --danger-7: 210, 52, 91, 1;
  --sell-down-7: 210, 52, 91, 1;

  /* 警示色特殊场景 对应--rd-07 */
  --warning-4: 243, 135, 151, 1;
  --danger-4: 243, 135, 151, 1;
  --sell-down-4: 243, 135, 151, 1;

  /* 警示色禁用 对应--rd-08 */
  --warning-3: 247, 166, 176, 1;
  --danger-3: 247, 166, 176, 1;
  --sell-down-3: 247, 166, 176, 1;

  /* 浅色背景 对应--rd-10 */
  --warning-1: 253, 212, 213, 1;
  --danger-1: 253, 212, 213, 1;
  --sell-down-2: 253, 212, 213, 1;

  /* 成功背景 对应--gr-05 */
  --success-6: 49, 189, 101, 1;
  --buy-up-6: 49, 189, 101, 1;
  
  /* 成功悬浮 对应--gr-06 */
  --success-5: 86, 212, 128, 1;
  --buy-up-5: 86, 212, 128, 1;
  
  /* 成功点击 对应--gr-04 */
  --success-7: 31, 161, 83, 1;
  --buy-up-7: 31, 161, 83, 1;
  
  /* 成功特殊场景 对应--gr-07 */
  --success-4: 112, 215, 143, 1;
  --buy-up-1: 112, 215, 143, 1;

  /* 成功一般禁用 对应--gr-08 */
  --success-3: 149, 229, 170, 1;
  --buy-up-3: 149, 229, 170, 1;
  
  /* 成功浅色背景 对应--gr-10 */
  --success-2: 197, 245, 207, 1;
  --buy-up-2: 197, 245, 207, 1;
  
  /* 提示常规 对应--or-05 */
  --tips-6: 0, 0, 0, 1;

  /* 提示悬浮 对应--or-06 */
  --tips-5: 32, 32, 36, 1;
  
  /* 提示点击 对应--or-04 */
  --tips-7: 18, 17, 17, 1;
  
  /* 提示特殊场景 对应--or-07 */
  --tips-4: 22, 22, 28, 1;
  
  /* 提示一般禁用 对应--or-08 */
  --tips-3: 53, 53, 53, 1;
  
  /* 提示浅色背景 对应--or-10 */
  --tips-2: 128, 128, 128, 1;

}
  
body[arco-theme= 'dark'][theme-type= 'okx'] {
  /* 基色 对应--or-05 */
  --primary-6: 255, 255, 255, 1;

  /* 悬浮 对应--or-06 */
  --primary-5: 245, 245, 245, 1;
  
  /* 点击 对应--or-04 */
  --primary-7: 232, 232, 232, 1;
  
  /* 特殊场景 对应--or-07 */
  --primary-4: 242, 242, 242, 1;
  
  /* 一般禁用 对应--or-08 */
  --primary-3: 237, 237, 237, 1;
  
  /* 文字禁用 对应--or-10 */
  --primary-2: 71, 71, 71, 1;
  
  /* 浅色背景 对应--or-10 */
  --primary-1: 128, 128, 128, 1;

  /* 强调/正文标题 对应--nc-01  */
  --color-text-1: rgb(144 144 144 / 100%);

  /* 文字/次要信息 对应--nc-06 */
  --color-text-3: rgb(109 109 109 / 100%);
  
  /* 文字禁用 对应--nc-07 */
  --color-text-4: rgb(144 144 144 / 100%);

  /* 描边色 按钮禁用 对应--nc-08 */
  --color-border-1: rgb(65 63 64 / 100%);
  
  /* 重/按钮描边 对应--nc-08 */
  --color-border-4: rgb(65 63 64 / 100%);
  
  /* 描边 对应--nc-08 */
  --color-border-6: rgb(65 63 64 / 100%);
  --color-neutral-3: rgb(65 63 64 / 100%);

  /* 分割线  对应--nc-09 */
  --color-border-5: rgb(39 39 39 / 100%);

  /* 浅/禁用 对应--nc-08 */
  --color-fill-1: rgb(65 63 64 / 100%);
  
  /* 填充色  对应--nc-12 */
  --color-fill-2: rgb(18 18 18/ 100%);
  
  /* 填充色 - 图标 对应--nc-05 */
  --color-fill-6: rgb(144 144 144 / 100%);

  /* 全局背景色 对应--nc-12 */
  --color-bg-1: rgb(18 18 18 / 100%);

  /* 卡片前景色 对应--nc-10 */
  --color-bg-2: rgb(26 26 26 / 100%);
  
  /* 输入框/搜索框 对应--nc-09 */
  --color-bg-3: rgb(39 39 39 / 100%);

  /* 卡片背景色 对应--nc-11 */
  --color-bg-4: rgb(46 46 46 / 100%);
  
  /* 卡片背景色 对应--nc-15 */
  --color-bg-5: rgb(26 26 26 / 100%);

  /* 特殊背景色 对应--nc-16 */
  --color-bg-6: rgb(144 144 144 / 20%);
  
  /* 警示色常规 对应--rd-05 */
  --warning-6: 202, 64, 100, 1;
  --danger-6: 202, 64, 100, 1;
  --sell-down-6: 202, 64, 100, 1;
  
  /* 警示色悬浮 对应--rd-06 */
  --warning-5: 213, 93, 121, 1;
  --danger-5: 213, 93, 121, 1;
  --sell-down-5: 213, 93, 121, 1;

  /* 警示色点击 对应--rd-04 */
  --warning-7: 171, 41, 80, 1;
  --danger-7: 171, 41, 80, 1;
  --sell-down-7: 171, 41, 80, 1;

  /* 警示色特殊场景 对应--rd-07 */
  --warning-4: 239, 105, 129, 1;
  --danger-4: 239, 105, 129, 1;
  --sell-down-4: 239, 105, 129, 1;

  /* 警示色禁用 对应--rd-08 */
  --warning-3: 243, 135, 151, 1;
  --danger-3: 243, 135, 151, 1;
  --sell-down-3: 243, 135, 151, 1;

  /* 浅色背景 对应--rd-10 */
  --warning-1: 116, 9, 43, 1;
  --danger-1: 116, 9, 43, 1;
  --sell-down-2: 116, 9, 43, 1;

  /* 成功背景 对应--gr-05 */
  --success-6: 37, 167, 79, 1;
  --buy-up-6: 37, 167, 79, 1;
  
  /* 成功悬浮 对应--gr-06 */
  --success-5: 66, 185, 100, 1;
  --buy-up-5: 66, 185, 100, 1;
  
  /* 成功点击 对应--gr-04 */
  --success-7: 24, 144, 66, 1;
  --buy-up-7: 24, 144, 66, 1;
  
  /* 成功特殊场景 对应--gr-07 */
  --success-4: 100, 202, 126, 1;
  --buy-up-1: 100, 202, 126, 1;

  /* 成功一般禁用 对应--gr-08 */
  --success-3: 139, 220, 157, 1;
  --buy-up-3: 139, 220, 157, 1;
  
  /* 成功浅色背景 对应--gr-10 */
  --success-2: 18, 112, 48, 1;
  --buy-up-2: 18, 112, 48, 1;
  
  /* 提示常规 对应--or-05 */
  --tips-6: 255, 255, 255, 1;

  /* 提示悬浮 对应--or-06 */
  --tips-5: 245, 245, 245, 1;
  
  /* 提示点击 对应--or-04 */
  --tips-7: 232, 232, 232, 1;
  
  /* 提示特殊场景 对应--or-07 */
  --tips-4: 242, 242, 242, 1;
  
  /* 提示一般禁用 对应--or-08 */
  --tips-3: 237, 237, 237, 1;
  
  /* 提示浅色背景 对应--or-10 */
  --tips-2: 255, 255, 255, 1;
}
  
/* 币安 样式下 acro 组件主题色 */
  
body[arco-theme= 'light'][theme-type= 'binance'] {
  /* 基色 对应--or-05 */
  --primary-6: 246, 214, 88, 1;
  
  /* 悬浮 对应--or-06 */
  --primary-5: 248, 226, 116, 1;
  
  /* 点击 对应--or-04 */
  --primary-7: 207, 161, 54, 1;
  
  /* 特殊场景 对应--or-07 */
  --primary-4: 250, 236, 144, 1;
  
  /* 一般禁用 对应--or-08 */
  --primary-3: 245, 228, 166, 1;
  
  /* 文字禁用 对应--or-10 */
  --primary-2: 250, 245, 231, 1;
  
  /* 浅色背景 对应--or-10 */
  --primary-1: 250, 245, 231, 1;

  /* 强调/正文标题 对应--nc-01 */
  --color-text-1: rgb(33 37 47/ 100%);

  /* 文字/次要信息 对应--nc-06 */
  --color-text-3: rgb(184 189 197 / 100%);
  
  /* 文字禁用 对应--nc-07 */
  --color-text-4: rgb(184 189 197 / 100%);

  /* 描边色 按钮禁用 对应--nc-08 */
  --color-border-1: rgb(217 220 224 / 100%);
  
  /* 重/按钮描边 对应--nc-08 */
  --color-border-4: rgb(217 220 224  / 100%);
  
  /* 描边 对应--nc-08 */
  --color-border-6: rgb(217 220 224  / 100%);
  --color-neutral-3: rgb(217 220 224  / 100%);

  /* 分割线  对应--nc-09 */
  --color-border-5: rgb(234 236 239 / 100%);

  /* 浅/禁用 对应--nc-08 */
  --color-fill-1: rgb(217 220 224  / 100%);
  
  /* 填充色  对应--nc-12 */
  --color-fill-2: rgb(255 255 255 / 100%);
  
  /* 填充色 - 图标 对应--nc-05 */
  --color-fill-6: rgb(134 141 154 / 100%);

  /* 全局背景色 对应--nc-12 */
  --color-bg-1: rgb(255 255 255 / 100%);

  /* 卡片前景色 对应--nc-10 */
  --color-bg-2: rgb(250 250 250 / 100%);
  
  /* 输入框/搜索框 对应--nc-09 */
  --color-bg-3: rgb(234 236 239 / 100%);

  /* 卡片背景色 对应--nc-11 */
  --color-bg-4: rgb(245 245 245 / 100%);
  
  /* 卡片背景色 对应--nc-15 */
  --color-bg-5: rgb(255 255 255 / 100%);

  /* 特殊背景色 对应--nc-16 */
  --color-bg-6: rgb(120 127 140 / 20%);
  
  /* 警示色常规 对应--rd-05 */
  --warning-6: 227, 84, 97, 1;
  --danger-6: 227, 84, 97, 1;
  --sell-down-6: 227, 84, 97, 1;
  
  /* 警示色悬浮 对应--rd-06 */
  --warning-5: 233, 111, 117, 1;
  --danger-5: 233, 111, 117, 1;
  --sell-down-5: 233, 111, 117, 1;

  /* 警示色点击 对应--rd-04 */
  --warning-7: 204, 43, 70, 1;
  --danger-7: 204, 43, 70, 1;
  --sell-down-7: 204, 43, 70, 1;

  /* 警示色特殊场景 对应--rd-07 */
  --warning-4: 238, 140, 141, 1;
  --danger-4: 238, 140, 141, 1;
  --sell-down-4: 238, 140, 141, 1;

  /* 警示色禁用 对应--rd-08 */
  --warning-3: 244, 170, 169, 1;
  --danger-3: 244, 170, 169, 1;
  --sell-down-3: 244, 170, 169, 1;

  /* 浅色背景 对应--rd-10 */
  --warning-1: 252, 225, 223, 1;
  --danger-1: 252, 225, 223, 1;
  --sell-down-2: 252, 225, 223, 1;

  /* 成功背景 对应--gr-05 */
  --success-6: 94, 186, 137, 1;
  --buy-up-6: 94, 186, 137, 1;
  
  /* 成功悬浮 对应--gr-06 */
  --success-5: 117, 200, 153, 1;
  --buy-up-5: 117, 200, 153, 1;
  
  /* 成功点击 对应--gr-04 */
  --success-7: 29, 161, 115, 1;
  --buy-up-7: 29, 161, 115, 1;
  
  /* 成功特殊场景 对应--gr-07 */
  --success-4: 143, 214, 171, 1;
  --buy-up-1: 143, 214, 171, 1;

  /* 成功一般禁用 对应--gr-08 */
  --success-3: 170, 227, 191, 1;
  --buy-up-3: 170, 227, 191, 1;
  
  /* 成功浅色背景 对应--gr-10 */
  --success-2: 227, 249, 234, 1;
  --buy-up-2: 227, 249, 234, 1;
  
  /* 提示常规 对应--or-05 */
  --tips-6: 246, 214, 88, 1;

  /* 提示悬浮 对应--or-06 */
  --tips-5: 248, 226, 116, 1;
  
  /* 提示点击 对应--or-04 */
  --tips-7: 207, 161, 54, 1;
  
  /* 提示特殊场景 对应--or-07 */
  --tips-4: 250, 236, 144, 1;
  
  /* 提示一般禁用 对应--or-08 */
  --tips-3: 245, 228, 166, 1;
  
  /* 提示浅色背景 对应--or-10 */
  --tips-2: 250, 245, 231, 1;
}
  
body[arco-theme= 'dark'][theme-type= 'binance'] {
  /* 基色 对应--or-05 */
  --primary-6: 246, 214, 88, 1;

  /* 悬浮 对应--or-06 */
  --primary-5: 248, 226, 116, 1;

  /* 点击 对应--or-04 */
  --primary-7: 207, 161, 54, 1;
  
  /* 特殊场景 对应--or-07 */
  --primary-4: 161, 126, 29, 1;
  
  /* 一般禁用 对应--or-08 */
  --primary-3: 119, 86, 11, 1;
  
  /* 文字禁用 对应--or-10 */
  --primary-2: 77, 51, 0, 1;
  
  /* 浅色背景 对应--or-10 */
  --primary-1: 77, 51, 0, 1;

  /* 强调/正文标题 对应--nc-01 */
  --color-text-1: rgb(255 255 255/ 100%);

  /* 文字/次要信息 对应--nc-06 */
  --color-text-3: rgb(80 87 101 / 100%);
  
  /* 文字禁用 对应--nc-07 */
  --color-text-4: rgb(80 87 101 / 100%);

  /* 描边色 按钮禁用 对应--nc-08 */
  --color-border-1: rgb(68 75 88 / 100%);
  
  /* 重/按钮描边 对应--nc-08 */
  --color-border-4: rgb(68 75 88  / 100%);
  
  /* 描边 对应--nc-08 */
  --color-border-6: rgb(68 75 88  / 100%);
  --color-neutral-3: rgb(68 75 88  / 100%);

  /* 分割线  对应--nc-09 */
  --color-border-5: rgb(52 58 70 / 100%);

  /* 浅/禁用 对应--nc-08 */
  --color-fill-1: rgb(68 75 88  / 100%);

  /* 填充色  对应--nc-12 */
  --color-fill-2: rgb(25 29 36 / 100%);
  
  /* 填充色 - 图标 对应--nc-05 */
  --color-fill-6: rgb(134 141 154 / 100%);

  /* 全局背景色 对应--nc-12 */
  --color-bg-1: rgb(25 29 36 / 100%);

  /* 卡片前景色 对应--nc-10 */
  --color-bg-2: rgb(33 37 47 / 100%);
  
  /* 输入框/搜索框 对应--nc-09 */
  --color-bg-3: rgb(52 58 70/ 100%);

  /* 卡片背景色 对应--nc-11 */
  --color-bg-4: rgb(42 48 60 / 100%);
  
  /* 卡片背景色 对应--nc-15 */
  --color-bg-5: rgb(33 37 47 / 100%);

  /* 特殊背景色 对应--nc-16 */
  --color-bg-6: rgb(134 141 154 / 20%);
  
  /* 警示色常规 对应--rd-05 */
  --warning-6: 227, 84, 97, 1;
  --danger-6: 227, 84, 97, 1;
  --sell-down-6: 227, 84, 97, 1;
  
  /* 警示色悬浮 对应--rd-06 */
  --warning-5: 233, 111, 117, 1;
  --danger-5: 233, 111, 117, 1;
  --sell-down-5: 233, 111, 117, 1;

  /* 警示色点击 对应--rd-04 */
  --warning-7: 204, 43, 70, 1;
  --danger-7: 204, 43, 70, 1;
  --sell-down-7: 204, 43, 70, 1;

  /* 警示色特殊场景 对应--rd-07 */
  --warning-4: 238, 140, 141, 1;
  --danger-4: 238, 140, 141, 1;
  --sell-down-4: 238, 140, 141, 1;

  /* 警示色禁用 对应--rd-08 */
  --warning-3: 244, 170, 169, 1;
  --danger-3: 244, 170, 169, 1;
  --sell-down-3: 244, 170, 169, 1;

  /* 浅色背景 对应--rd-10 */
  --warning-1: 114, 11, 30, 1;
  --danger-1: 114, 11, 30, 1;
  --sell-down-2: 114, 11, 30, 1;

  /* 成功背景 对应--gr-05 */
  --success-6: 94, 186, 137, 1;
  --buy-up-6: 94, 186, 137, 1;
  
  /* 成功悬浮 对应--gr-06 */
  --success-5: 117, 200, 153, 1;
  --buy-up-5: 117, 200, 153, 1;
  
  /* 成功点击 对应--gr-04 */
  --success-7: 29, 161, 115, 1;
  --buy-up-7: 29, 161, 115, 1;
  
  /* 成功特殊场景 对应--gr-07 */
  --success-4: 143, 214, 171, 1;
  --buy-up-1: 143, 214, 171, 1;

  /* 成功一般禁用 对应--gr-08 */
  --success-3: 170, 227, 191, 1;
  --buy-up-3: 170, 227, 191, 1;
  
  /* 成功浅色背景 对应--gr-10 */
  --success-2: 13, 104, 65, 1;
  --buy-up-2: 13, 104, 65, 1;
  
  /* 提示常规 对应--or-05 */
  --tips-6: 246, 214, 88, 1;

  /* 提示悬浮 对应--or-06 */
  --tips-5: 248, 226, 116, 1;
  
  /* 提示点击 对应--or-04 */
  --tips-7: 207, 161, 54, 1;
  
  /* 提示特殊场景 对应--or-07 */
  --tips-4: 161, 126, 29, 1;
  
  /* 提示一般禁用 对应--or-08 */
  --tips-3: 119, 86, 11, 1;
  
  /* 提示浅色背景 对应--or-10 */
  --tips-2: 77, 51, 0, 1;
}
  
/* kucoin 样式下 acro 组件主题色 */
  
body[arco-theme= 'light'][theme-type= 'kucoin'] {
  /* 基色 对应--or-05 */
  --primary-6: 1, 188, 141, 1;

  /* 悬浮 对应--or-06 */
  --primary-5: 46, 208, 162, 1;

  /* 点击 对应--or-04 */
  --primary-7: 1, 160, 126, 1;
  
  /* 特殊场景 对应--or-07 */
  --primary-4: 79, 215, 172, 1;
  
  /* 一般禁用 对应--or-08 */
  --primary-3: 153, 228, 209, 1;
  
  /* 文字禁用 对应--or-10 */
  --primary-2: 232, 255, 245, 1;
  
  /* 浅色背景 对应--or-10 */
  --primary-1: 232, 255, 245, 1;

  /* 强调/正文标题 对应--nc-01 */
  --color-text-1: rgb(0 13 29/ 100%);

  /* 文字/次要信息 对应--nc-06 */
  --color-text-3: rgb(147 153 159 / 100%);
  
  /* 文字禁用 对应--nc-07 */
  --color-text-4: rgb(147 153 159 / 100%);

  /* 描边色 按钮禁用 对应--nc-08 */
  --color-border-1: rgb(219 221 223 / 100%);
  
  /* 重/按钮描边 对应--nc-08 */
  --color-border-4: rgb(219 221 223  / 100%);
  
  /* 描边 对应--nc-08 */
  --color-border-6: rgb(219 221 223  / 100%);
  --color-neutral-3: rgb(219 221 223  / 100%);

  /* 分割线  对应--nc-09 */
  --color-border-5: rgb(243 243 243 / 100%);

  /* 浅/禁用 对应--nc-08 */
  --color-fill-1: rgb(219 221 223  / 100%);
  
  /* 填充色  对应--nc-12 */
  --color-fill-2: rgb(255 255 255 / 100%);
  
  /* 填充色 - 图标 对应--nc-05 */
  --color-fill-6: rgb(104 113 125 / 100%);

  /* 全局背景色 对应--nc-12 */
  --color-bg-1: rgb(255 255 255 / 100%);

  /* 卡片前景色 对应--nc-10 */
  --color-bg-2: rgb(247 248 251 / 100%);
  
  /* 输入框/搜索框 对应--nc-09 */
  --color-bg-3: rgb(243 243 243 / 100%);

  /* 卡片背景色 对应--nc-11 */
  --color-bg-4: rgb(239 240 240 / 100%);
  
  /* 卡片背景色 对应--nc-15 */
  --color-bg-5: rgb(255 255 255 / 100%);

  /* 特殊背景色 对应--nc-16 */
  --color-bg-6: rgb(104 113 125 / 20%);
  
  /* 警示色常规 对应--rd-05 */
  --warning-6: 246, 84, 84, 1;
  --danger-6: 246, 84, 84, 1;
  --sell-down-6: 246, 84, 84, 1;
  
  /* 警示色悬浮 对应--rd-06 */
  --warning-5: 248, 117, 113, 1;
  --danger-5: 248, 117, 113, 1;
  --sell-down-5: 248, 117, 113, 1;

  /* 警示色点击 对应--rd-04 */
  --warning-7: 204, 52, 57, 1;
  --danger-7: 204, 52, 57, 1;
  --sell-down-7: 204, 52, 57, 1;

  /* 警示色特殊场景 对应--rd-07 */
  --warning-4: 161, 28, 36, 1;
  --danger-4: 161, 28, 36, 1;
  --sell-down-4: 161, 28, 36, 1;

  /* 警示色禁用 对应--rd-08 */
  --warning-3: 119, 10, 21 1;
  --danger-3: 119, 10, 21 1;
  --sell-down-3: 119, 10, 21 1;

  /* 浅色背景 对应--rd-10 */
  --warning-1: 77, 0, 10, 1;
  --danger-1: 77, 0, 10, 1;
  --sell-down-2: 77, 0, 10, 1;

  /* 成功背景 对应--gr-05 */
  --success-6: 1, 188, 141, 1;
  --buy-up-6: 1, 188, 141, 1;
  
  /* 成功悬浮 对应--gr-06 */
  --success-5: 93, 193, 157, 1;
  --buy-up-5: 93, 193, 157, 1;
  
  /* 成功点击 对应--gr-04 */
  --success-7: 1, 160, 126, 1;
  --buy-up-7: 1, 160, 126, 1;
  
  /* 成功特殊场景 对应--gr-07 */
  --success-4: 0, 132, 108, 1;
  --buy-up-1: 0, 132, 108, 1;

  /* 成功一般禁用 对应--gr-08 */
  --success-3: 0, 104, 89, 1;
  --buy-up-3: 0, 104, 89, 1;
  
  /* 成功浅色背景 对应--gr-10 */
  --success-2: 0, 77, 68, 1;
  --buy-up-2: 0, 77, 68, 1;
  
  /* 提示常规 对应--or-05 */
  --tips-6: 1, 188, 141, 1;

  /* 提示悬浮 对应--or-06 */
  --tips-5: 46, 208, 162, 1;
  
  /* 提示点击 对应--or-04 */
  --tips-7: 1, 160, 126, 1;
  
  /* 提示特殊场景 对应--or-07 */
  --tips-4: 79, 215, 172, 1;
  
  /* 提示一般禁用 对应--or-08 */
  --tips-3: 153, 228, 209, 1;
  
  /* 提示浅色背景 对应--or-10 */
  --tips-2: 232, 255, 245, 1;
}
  
body[arco-theme= 'dark'][theme-type= 'kucoin'] {
  /* 基色 对应--or-05 */
  --primary-6: 1, 188, 141, 1;

  /* 悬浮 对应--or-06 */
  --primary-5: 93, 193, 157, 1;

  /* 点击 对应--or-04 */
  --primary-7: 1, 160, 126, 1;
  
  /* 特殊场景 对应--or-07 */
  --primary-4: 0, 132, 108, 1;
  
  /* 一般禁用 对应--or-08 */
  --primary-3: 0, 104, 89, 1;
  
  /* 文字禁用 对应--or-10 */
  --primary-2: 0, 77, 68, 1;
  
  /* 浅色背景 对应--or-10 */
  --primary-1: 0, 77, 68, 1;

  /* 强调/正文标题 对应--nc-01 */
  --color-text-1: rgb(255 255 255/ 100%);

  /* 文字/次要信息 对应--nc-06 */
  --color-text-3: rgb(109 116 127 / 100%);
  
  /* 文字禁用 对应--nc-07 */
  --color-text-4: rgb(80 86 98 / 100%);

  /* 描边色 按钮禁用 对应--nc-08 */
  --color-border-1: rgb(51 59 74 / 100%);
  
  /* 重/按钮描边 对应--nc-08 */
  --color-border-4: rgb(51 59 74  / 100%);
  
  /* 描边 对应--nc-08 */
  --color-border-6: rgb(51 59 74  / 100%);
  --color-neutral-3: rgb(51 59 74  / 100%);

  /* 分割线  对应--nc-09 */
  --color-border-5: rgb(34 40 51 / 100%);

  /* 浅/禁用 对应--nc-08 */
  --color-fill-1: rgb(51 59 74  / 100%);
  
  /* 填充色  对应--nc-12 */
  --color-fill-2: rgb(24 30 41 / 100%);
  
  /* 填充色 - 图标 对应--nc-05 */
  --color-fill-6: rgb(153 160 172 / 100%);

  /* 全局背景色 对应--nc-12 */
  --color-bg-1: rgb(24 30 41/ 100%);

  /* 卡片前景色 对应--nc-10 */
  --color-bg-2: rgb(17 23 33 / 100%);
  
  /* 输入框/搜索框 对应--nc-09 */
  --color-bg-3: rgb(34 40 51/ 100%);

  /* 卡片背景色 对应--nc-11 */
  --color-bg-4: rgb(38 44 55 / 100%);
  
  /* 卡片背景色 对应--nc-15 */
  --color-bg-5: rgb(24 30 41 / 100%);

  /* 特殊背景色 对应--nc-16 */
  --color-bg-6: rgb(153 160 172/ 20%);

  /* 警示色常规 对应--rd-05 */
  --warning-6: 246, 84, 84, 1;
  --danger-6: 246, 84, 84, 1;
  --sell-down-6: 246, 84, 84, 1;
  
  /* 警示色悬浮 对应--rd-06 */
  --warning-5: 248, 117, 113, 1;
  --danger-5: 248, 117, 113, 1;
  --sell-down-5: 248, 117, 113, 1;

  /* 警示色点击 对应--rd-04 */
  --warning-7: 204, 52, 57, 1;
  --danger-7: 204, 52, 57, 1;
  --sell-down-7: 204, 52, 57, 1;

  /* 警示色特殊场景 对应--rd-07 */
  --warning-4: 161, 28, 36, 1;
  --danger-4: 161, 28, 36, 1;
  --sell-down-4: 161, 28, 36, 1;

  /* 警示色禁用 对应--rd-08 */
  --warning-3: 119, 10, 21 1;
  --danger-3: 119, 10, 21 1;
  --sell-down-3: 119, 10, 21 1;

  /* 浅色背景 对应--rd-10 */
  --warning-1: 77, 0, 10, 1;
  --danger-1: 77, 0, 10, 1;
  --sell-down-2: 77, 0, 10, 1;

  /* 成功背景 对应--gr-05 */
  --success-6: 1, 188, 141, 1;
  --buy-up-6: 1, 188, 141, 1;
  
  /* 成功悬浮 对应--gr-06 */
  --success-5: 93, 193, 157, 1;
  --buy-up-5: 93, 193, 157, 1;
  
  /* 成功点击 对应--gr-04 */
  --success-7: 1, 160, 126, 1;
  --buy-up-7: 1, 160, 126, 1;
  
  /* 成功特殊场景 对应--gr-07 */
  --success-4: 0, 132, 108, 1;
  --buy-up-1: 0, 132, 108, 1;

  /* 成功一般禁用 对应--gr-08 */
  --success-3: 0, 104, 89, 1;
  --buy-up-3: 0, 104, 89, 1;
  
  /* 成功浅色背景 对应--gr-10 */
  --success-2: 0, 77, 68, 1;
  --buy-up-2: 0, 77, 68, 1;
  
  /* 提示常规 对应--or-05 */
  --tips-6: 1, 188, 141, 1;

  /* 提示悬浮 对应--or-06 */
  --tips-5: 93, 193, 157, 1;
  
  /* 提示点击 对应--or-04 */
  --tips-7: 1, 160, 126, 1;
  
  /* 提示特殊场景 对应--or-07 */
  --tips-4: 0, 132, 108, 1;
  
  /* 提示一般禁用 对应--or-08 */
  --tips-3: 0, 104, 89, 1;
  
  /* 提示浅色背景 对应--or-10 */
  --tips-2: 0, 77, 68, 1;
}