.personal-center-agent {
  @apply bg-bg_color flex-1;
}

:local(.scoped) {
  @apply w-full;

  .header {
    @apply flex justify-center w-full bg-card_bg_color_01;

    height: 108px;

    .header-box {
      @apply flex justify-between items-center h-full;

      width: 1200px;

      .l {
        @apply text-text_color_01 not-italic font-medium;

        font-size: 32px;
        line-height: 48px;
      }

      .r {
        .button {
          @apply text-button_text_02 h-10;

          padding-right: 18px;
          padding-left: 18px;
          font-weight: 500;
          font-size: 14px;
          font-style: normal;
          line-height: 22px;
        }
      }
    }
  }

  .section {
    @apply pt-8 w-full bg-bg_color;

    .section-text {
      width: 1200px;
      font-size: 20px;
      line-height: 30px;
      @apply text-text_color_01 mx-auto font-medium not-italic;

      span {
        @apply text-brand_color;
      }
    }

    .table-container {
      @apply mx-auto mt-6;

      width: 1200px;

      /* .arco-table-tr {
        @apply last:mb-8;
      } */

      .arco-table-body {
        @apply pt-3 pb-5 bg-bg_color;

        height: 226px !important;

        tr {
          td {
            @apply px-0;
          }
        }
      }

      .arco-table-header {
        @apply overflow-hidden !important;

        /* padding-right: 8px; */
      }

      .arco-table-td.arco-table-col-fixed-right-first {
        padding-right: 22px;
      }

      .arco-table-th.arco-table-col-fixed-right-first {
        padding-right: 22px;
      }

      .arco-table-td.arco-table-col-fixed-right-first::after {
        display: none;

        @apply absolute bg-card_bg_color_01;
      }

      .arco-table-td.arco-table-col-fixed-left-last::after {
        @apply absolute bg-card_bg_color_01;

        display: none;
      }

      .arco-spin-children {
        max-width: 1200px;
      }

      .table {
        .arco-table-th {
          @apply text-right bg-card_bg_color_01;

          &:first-child {
            @apply text-left;
          }

          border-bottom: none;

          .arco-table-th-item {
            padding: 9px 0 9px 20px !important;

            .arco-table-th-item-title {
              @apply text-text_color_02 text-xs font-normal not-italic;
            }
          }
        }

        .arco-table-td {
          @apply text-right py-3 border-transparent border-none	 !important;
        }

        .table-ceil {
          @apply flex justify-end items-center;

          .table-ceil-box {
            @apply mr-6 flex justify-end;

            .table-ceil-isdefault {
              @apply bg-brand_color_special_02 text-brand_color px-2 h-6 rounded flex justify-center items-center;

              font-weight: 400;
              font-size: 12px;
              font-style: normal;
              line-height: 18px;
            }

            .table-ceil-text {
              @apply text-brand_color cursor-pointer text-sm font-normal not-italic;
            }
          }

          .table-ceil-name {
            margin-left: 22px;
            @apply text-text_color_01 truncate text-sm font-normal not-italic flex-1 text-left;
          }

          .table-ceil-text {
            @apply text-text_color_01 text-sm font-normal not-italic;
          }

          .table-ceil-icon {
            @apply ml-2;

            width: 18px;
            height: 22px;
          }

          .table-ceil-delete-icon {
            width: 18px;
            height: 22px;
            margin-top: -3px;
          }
        }
      }

      .empty {
        & svg {
          width: 120px;
          height: 120px;
        }
      }
    }

    .table-pagination {
      @apply flex items-center justify-end mt-20 mb-28;

      .arco-pagination-jumper {
        @apply inline-flex items-center order-3;
      }

      .arco-pagination-list {
        @apply inline-flex order-2;
      }

      .arco-select {
        @apply inline-flex order-1;
      }

      .arco-pagination-item {
        @apply inline-flex justify-center items-center h-8;

        min-width: 32px;
      }

      .arco-pagination-option {
        @apply inline-flex justify-center items-center;
      }

      .arco-select-view-value {
        @apply inline-flex items-center;
      }

      .arco-pagination-jumper-input,
      .arco-select-view {
        @apply h-8;
      }

      .table-pagination-extra {
        @apply ml-2 text-sm font-normal not-italic;

        color: var(--color-text-3);
      }
    }
  }
}

:local(.agent-manage-modal) {
  .arco-modal-content {
    @apply p-0;
  }

  .poster {
    @apply py-8 px-24 relative;

    .poster-header {
      @apply flex justify-between items-center;

      .poster-close-icon {
        @apply absolute top-9 right-9;
      }
    }

    .poster-content {
      .poster-image {
        @apply p-4 relative;

        height: 523px;

        .poster-header-title {
          @apply flex items-center text-brand_color text-base not-italic font-medium;

          .poster-header-logo {
            @apply mr-2 rounded-full overflow-hidden;
          }
        }

        .poster-text {
          @apply text-white mt-3 text-sm font-normal not-italic;
        }

        .poster-share {
          @apply text-text_color_01 text-2xl mt-11 not-italic font-semibold;
        }

        .poster-qrcode {
          @apply absolute p-1 bg-white bottom-4;
        }
      }
    }

    .poster-footer {
      @apply flex;

      .button {
        @apply flex-1 mt-8;
      }

      .button:not(:last-child) {
        @apply mr-5;
      }
    }
  }

  .qrcode-share {
    @apply p-5 relative;

    .qrcode-share-close-icon {
      @apply absolute -bottom-16 left-36;
    }

    .qrcode-share-header {
      .qrcode-share-header-title {
        @apply flex items-center text-brand_color text-base not-italic font-medium;

        .qrcode-share-header-logo {
          @apply mr-2 rounded-full overflow-hidden;
        }
      }

      .qrcode-share-text {
        @apply text-white mt-3 text-sm font-normal not-italic;
      }
    }

    .qrcode-share-content {
      @apply mt-5 p-4 bg-white rounded-lg;

      .qrcode-share-qrcode {
        @apply w-full;

        .qrcode-share-qrcode-c {
          width: 249px;
        }
      }

      .qrcode-share-invitation-code {
        @apply flex items-center justify-center bg-card_bg_color_02 py-2.5 px-9 mt-4 text-text_color_01 text-sm font-normal not-italic;

        .qrcode-share-invitation-code-highlight {
          @apply ml-3 font-medium text-xl;
        }
      }
    }
  }

  .tips {
    @apply p-8;

    .tips-header {
      @apply flex justify-between items-center;

      .tips-header-title {
        @apply text-text_color_01;
        @apply flex-1 text-center text-base not-italic font-medium;
      }
    }

    .tips-content {
      .tips-content-text {
        @apply text-text_color_01 mt-6;
      }
    }

    .tips-footer {
      @apply flex;

      .button {
        @apply flex-1 mt-6;
      }
    }
  }
}
