:local(.container) {
  .area-code-select {
    @apply h-96;
  }

  .arco-select {
    width: 92px !important
  }

  .country-render-format {
    @apply flex;

    img {
      @apply rounded-full ;

      width: 22px !important;
      height: 22px !important
    }
  }

  .country-render-encode {
    @apply ml-2 text-right text-text_color_01;
  }

  .arco-select-popup-inner {
    @apply max-h-96;
  }

  .useful-expressions {
    @apply px-3 inline-block;

    .country-input {
      @apply mt-3;

      .arco-input-group {
        .arco-input-inner-wrapper {
          /* @apply bg-bg_sr_color; */

          height: 32px;

          /* border-color: none !important; */
          border-radius: 4px;

          input {
            height: 30px !important;
          }
        }
      }

      .arco-input {
        height: 46px;
      }
    }

    .useful-expressions-item {
      @apply h-12 flex items-center text-base font-medium border-line_color_01 border-b pl-3;
    }
  }

  .area-code-select {
    li {
      @apply h-12 flex items-center justify-between;

      img {
        @apply mr-1 rounded-full;

        width: 22px;
        height: 22px
      }
    }

    .country-select-label {
      @apply flex items-center text-sm;

      .country-select-nothandle {
        @apply ml-1 px-3 py-0.5 rounded-sm text-text_color_02 bg-bg_button_disabled text-xs;
      }
    }

    .country-select-shortname {
      @apply flex items-center text-sm;

      div:last-child {
        @apply w-8 ml-1 text-text_color_02 text-right;

      }
    }

    .country-select-img {
      @apply w-10 h-6 mr-2 !important;
    }

    .country-select-nodata {
      @apply flex justify-center mt-3 font-medium;
    }
  }
}

:local(.select) {
  .arco-select-view {
    @apply border-none rounded-none;

    /* height: 18px !important; */

    /* border-right: 1px solid var(--line_color_02); */

    &::after {
      @apply ml-2 bg-line_color_02;

      width: 1px;
      height: 18px;
      margin-top: 11.5px;

      /* background: var(--line_color_02); */
      content: '';
    }
  }
}

:local(.select-option) {
  @apply flex items-center px-1;

  height: 42px;

  .icon {
    @apply rounded-full;

    width: 22px;
    height: 22px;
  }

  .text {
    @apply text-text_color_01 ml-2.5;

    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 22px;
  }
}
