:local(.scoped) {
  width: 1200px;
  @apply mx-auto;


  .card-redemption-center-header {
    .card-redemption-center-item {
      @apply mb-8;
      
      .card-redemption-center-item-label {
        border-radius: 21px;
        @apply inline-block text-xs text-buy_up_color px-1.5 py-[1px] bg-buy_up_color_special_02 ml-2;
      }

      .all-card-coupon-container {
        @apply flex flex-wrap justify-between;
      }
    }
  }
}

:local(.card-coupon-item) {
  @apply flex justify-between;
  


  .card-coupon-item-button {
    z-index: 2;
    height: 26px;
    margin-top: 27px;
    border-radius: 23px;
    @apply flex justify-center items-center px-3.5 bg-brand_color mr-4 text-button_text_02 text-xs cursor-pointer;
  }
  
    
  .card-coupon-item-button-inavailble {
    @apply bg-bg_sr_color text-text_color_04;
  }

  
  .card-coupon-item-left {
    margin-top: 18px;
    @apply flex ml-4;
    
    .card-coupon-item-icon {
      width: 44px;
      height: 44px;
      @apply bg-brand_color_special_02 rounded-full flex justify-center items-center;
      
      svg {
        width: 22px;
        height: 22px;
      }
    }

    .card-coupon-item-left-detail {
      @apply ml-3;

      .card-coupon-num {
        @apply text-xl text-text_color_01 font-semibold flex items-center;

        .card-coupon-acquire {
          @apply ml-1 h-[18px] px-1 rounded bg-sell_down_color text-xs text-button_text_01 font-medium flex items-center;
        }
      }
      
      .card-coupon-condition {
        @apply text-text_color_03 text-xs;
      }
      
      .card-coupon-money {
        @apply text-text_color_01 text-xs mt-0.5;
        
        span {
          @apply text-text_color_03 text-xs;
        }
      }
    }
  }
  
  .card-coupon-item-left-not {
    .card-coupon-item-icon {
      @apply bg-card_bg_color_02;
    }

    .card-coupon-item-left-detail {
      .card-coupon-num {
        @apply text-text_color_04;
      }

      .card-coupon-condition {
        @apply text-text_color_04;
      }
      
      .card-coupon-money {
        @apply text-text_color_04;
        
        span {
          @apply text-text_color_04;
        }
      }
    }
  }
}

