:local(.asset-popup) {
  width: 444px;
  @apply px-0;
  
  .arco-modal-close-icon {
    top: 28px;
    right: 28px;
      
    svg {
      @apply w-5 h-5 text-icon_color_01;
    }
  }
  
  .arco-modal-header {
    @apply px-8 pt-8;
  }
  
  .arco-modal-content {
    @apply p-8;
  }
    
  .arco-modal-footer {
    @apply flex border-none pb-8 px-8 pt-0;
    
    button {
      @apply flex-1 h-10 text-sm font-medium;
    }
  }
  
  .footer {
    @apply flex mt-8;
  
    .arco-btn {
      @apply flex-1 h-10 text-sm font-medium rounded-lg;
    }
  
    .arco-btn-secondary {
      @apply ml-0 mr-4 h-10 text-sm font-medium rounded-lg;
    }
  }

  .arco-btn-secondary:not(.arco-btn-disabled) {
    @apply text-text_color_02  bg-transparent border-line_color_01 !important;
  }

  .arco-btn-secondary:hover {
    @apply hover:text-text_color_02 bg-card_bg_color_01 border-line_color_01 !important;
  }
}

:local(.asset-popup-reset) {
  .arco-modal-content {
    @apply px-0;
  }
}