:local(.scoped) {

  @apply relative flex-1;

  .gradient-background {
    height: 300px;
    background: linear-gradient(180deg, rgb(241 174 61 / 10%) 0%, rgb(241 174 61 / 0%) 100%);
    @apply absolute top-0 left-0 right-0;
  }

  .user-register-wrap {
    padding-top: 120px;
    @apply pb-8 flex flex-col items-center;

    .icon {
      @apply flex justify-center items-center mb-8;

      svg, img {
        width: 248px;
        height: 188px;
      }
    }

    .btn-wrap {
      min-width: 380px;
      @apply mt-10;

      .arco-btn {
        height: 46px;
        @apply w-full text-base leading-4 font-normal;
      }
  
      .login {
        font-size: 14px;
        line-height: 14px;
        @apply font-medium;
  
        label {
          @apply text-text_color_03;
        }

        .register-tips {
          @apply mb-4;
        }
  
        .trial-play {
          @apply cursor-pointer;

          label {
            @apply mr-1;
          }
        }
      }
    }
  }
}
