:local(.scoped) {
  .wrap {
    &.symbol-wrap {
      @apply mb-4 text-base;

      .symbol {
        @apply text-text_color_01 flex items-center;
      }

      .buy-text {
        @apply text-buy_up_color;
      }

      .sell-text {
        @apply text-sell_down_color;

      }
    }
    @apply flex justify-between mb-2.5;

    .label {
      @apply text-text_color_02;
    }

    .value {
      @apply text-text_color_01 font-medium;
    }




  }

  .setting {
    @apply mt-5;

    .tips-wrap {

      @apply text-sm text-text_color_03;
    }
  }

}

.trade-order-confirm-wrap {
  .title-wrap {
    margin-top: -16px;

    .symbol-wrap {
      @apply pb-4 relative !important;

      &::after {
        left: -32px;
        width: 444px;
        content: '';
        @apply absolute bottom-0 bg-line_color_02 h-px;
      }
    }
  }
}
