:local(.scoped) {
  .text {
    @apply mb-2;

    label {
      @apply text-sm font-normal text-text_color_02;
    }
  }

  .qrcode {
    @apply flex mb-5;

    .code-image {
      width: 148px;
      height: 148px;
      padding: 10px;
      background-color: #ffffff;
      box-shadow: 0 2px 4px var(--card_bg_color_02);
      @apply mr-8 rounded-sm;

      svg {
        @apply w-full h-full;
      }
    }

    .code-text {
      @apply flex flex-1 flex-col justify-between break-all;

      .key {
        @apply w-full;

        label {
          @apply text-sm text-text_color_01;
        }
      }

      .copy-btn {
        button {
          width: 100px;
          height: 38px;
          background-color: rgb(241 174 61 / 20%);
          border: 0.5px solid #F1AE3D;
          @apply text-sm font-normal rounded text-brand_color;
        }
      }
    }
  }
}